// app global css in SCSS form

/* Font */
@font-face {
  font-family: 'Nunito';
  src: local('Nunito') url('~@/assets/fonts/Nunito-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Nunito-Medium';
  src: local('Nunito-Medium') url('~@/assets/fonts/Nunito-Medium.ttf')
    format('ttf');
}

/* Main */
body {
  font-size: 14px;
  font-weight: 500;
  font-family: Nunito;
}

/* Text */

.text-size-18 {
  font-size: 18px;
}
.text-size-20 {
  font-size: 20px;
}

/* Quasar */
